.img{
    height:200px;
    width:200px;
    margin-top:20px;
    margin-bottom:20px;
}
.center{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.body{
    background-color:black;
}